@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Tic Tac Toe game for true GAMERZ</h1>
<grid>
    @for(int i = 0; i < 9; i++)
    {
        <div id="square-@i" class="square"> </div>
    }
</grid>