@page
@model TicTacToe.Pages.TacTacToeServerModel
@{
    ViewData["Title"] = "TacTacToeServer";
}

<div class="board">
    @for (int i = 0; i < 3; i++)
    {
        
    }
</div>
<h2>TacTacToeServer</h2>

